<!-- shared footer render to be imported -->
<footer>
  <div class="footer" ;>
    <a>&copy; Hunger Pang</a>
    <a href="/about" class="footerTxt">About</a>
    <a href="/contact" class="footerTxt">Contact</a>
  </div>
</footer>
