<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunger Pang - About</title>
    <meta name="Group 15" content="Hunger Pang" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/stylesheets/styles.css"
    />
  </head>
  <body>
    <!-- render the header from a shared view file -->
    <%- include('partials/header.ejs'); %>
    <main>
    <!-- write up the about us -->
    <h3><p>Hunger Pang is your Restaurant Database & Navigator!</p></h3>
    <div class="fluffText"><p>Have you ever wanted to eat something specific, but also wanted to try a new place?
        Or maybe you just want something specific, but don't know what place would make such a dish?
        Those moments are exactly what this website was designed for!
        Simply input your Zip Code and the Entree you would like to search for, and hit Food Search!
        Hunger Pang's Patent Pending "Reverse Food Search" Algorithm will instantly compile and present a list of Restaurants!
        From there, you can sort to your taste and select the restaurant that speaks to you the most!
        Once a selection is made, Hunger Pang will navigate you to your destination!
        Happy Eating!</p> <br>
        <p>Hunger Pang was developed by Group 15 of Bojan Cukic's Software Development Programs Class.
            The website utilizes HTML, CSS, JavaScript, Node.js, and the APIs Documenu and Google Maps.
            Website reviews on the homepage are fabricated, and do not represent the views of the supposed reviewers.
            When grading, the Hunger Pang devs recommend being lenient. They promise to pay it forward someday.
        </p>
    </div>
    <!-- create the return to home button -->
    <div class="returnButton">
        <form action="/">
            <input type="submit" value="Return to Search" />
        </form>
    </div>
    <!--<div class="navTestButton">
      <form action="/navigation">
          <input type="submit" value="Jump to Nav" />
      </form> -->
    </main>
    <!-- render the footer from a shared view file -->
    <%- include('partials/footer.ejs'); %>
  </body>
</html>