<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunger Pang - Home</title>
    <meta name="Group 15" content="Hunger Pang" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/stylesheets/styles.css"
    />
  </head>
  <body>
    <!--<%- include('partials/header.ejs'); %>-->
    <main>
	<h1><p>Hunger Pang</p></h1>
	  <form action="/results">
    <div class="addressBar">
		<label for="zipCode">Zip Code:</label>
		<input type="text" id="zipCode" name="zipCode" /> <br /> <br />
    </div>
        <div class="foodBar">
          <label for="searchTag">Food:</label>
          <input type="text" id="searchTag" name="searchTag" /><br /><br />
        </div>
        <div class="dabutton">
          <input type="submit" value="Food Search" />
        </div>
      </form>
    </main>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
