<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunger Pang - Home</title>
    <meta name="Group 15" content="Hunger Pang" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/stylesheets/styles.css"
    />
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
	<h1><p>Hunger Pang</p></h1>
	  <div class="searchIndex">
	  <form action="results.html">
		<label for="streetAddress">Street Address:</label>
		<input type="text" id="streetAddress" name="streetAddress" /> <br /> <br />
        <label for="searchTag">Food:</label>
        <input type="text" id="searchTag" name="searchTag" /><br /><br />
        <input type="submit" value="Food Search" />
      </form>
	  </div>
    </main>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
