<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link
    rel="stylesheet"
    type="text/css"
    href="../assets/stylesheets/styles.css"
  />
    <style>
      #map {
        height: 100%;
        width: 70%;
        float:left;
      }
      #directionsPanel{
        height: 100%;
        width: 30%;
        float:right;
        overflow: auto;
        background-color: white;
      }
      html, body {
        height: 100%;
        margin: 20;
        padding: 50;
      }
    </style>
  </head>
<body>
    <%- include('partials/header.ejs'); %>
    <div id="map"></div>
    <div id="directionsPanel"></div>
    <script>
    var map;
      function initMap() {
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.227, lng: -80.843},
          zoom: 11
        });
        directionsRenderer.setMap(map);
        directionsRenderer.setPanel(document.getElementById("directionsPanel")); 
        directionsService.route(
          {
            origin: sessionStorage.getItem("street address"),
            destination: sessionStorage.getItem("destination address"),
            travelMode: google.maps.TravelMode.DRIVING,
          },
          (response, status) => {
            if (status === "OK") {
              directionsRenderer.setDirections(response);
            } else {
              window.alert("Directions request failed due to " + status);
            }
          }
        );
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxr-EALQsVDsjYqu6cYeW7KJx4Iz-IF_Y&callback=initMap" async defer></script>
    <div class="returnButton">
      <form action="/" style="display: inline-block;">
          <input type="submit" value="Return to Search" />
      </form>
    </div>
    <%- include('partials/footer.ejs'); %>
</body>
</html>