<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunger Pang - Search Results</title>
    <meta name="Group 15" content="Hunger Pang" />
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/stylesheets/styles.css"
    />
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
    <main>
		<h2><p>Results Page</p></h2>
		<div class="searchResults">
		<form action="/results">
			<label for="streetAddress">Street Address:</label>
			<input type="text" id="streetAddress" name="streetAddress" /> <br /> <br />
			<label for="searchTag">Food:</label>
			<input type="text" id="searchTag" name="searchTag"><br><br>
			<div class="dabutton">
				<input type="submit" value="Food Search">
			</div>
		</form>
		</div>
		<table style="width:100%">
		<tr>
			<th>Restaurant</th>
			<th>Price</th>
			<th>Rating</th>
			<th>Distance</th>
			<th>Navigation</th>
		</tr>
		</table> 
	</main>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
