.addressBar {
	text-align: center;
	padding-top: 50px;
}

.foodBar {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.dabutton {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: darkgreen;
}

.searchResults {
	text-align: center;
	padding-bottom: 20px;
}

.header{
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
}

.footer{
	color: red;
	text-align: center;
	padding-top: 150px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding-top: 100px;
}

label {
	font-size: 40px;
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: left;
}

body {
	background-color:gold;
}

tr {
	color: darkgreen;
}