.addressBar {
	text-align: center;
	padding-top: 50px;
}

.foodBar {
	text-align: center;
	padding-top: 15px;
}

.dabutton {
	text-align: center;
	padding-top: 40px;
}

.searchResults {
	text-align: center;
	padding-bottom: 20px;
}

.header{
	color:red;
}

.footer{
	color: red;
	text-align: center;
	padding-top: 200px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding-top: 100px;
}

label {
	font-size: 40px;
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: left;
}

body {
	background-color: black;
}

tr {
	color: darkgreen;
}