.searchIndex {
	text-align: center;
	padding-top: 100px;
}

.searchResults {
	text-align: center;
	padding-bottom: 20px;
}

h1 {
	text-align: center;
	font-size: 60px;
	color: darkgreen;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;	
}

label {
	font-size: 40px;
	color: darkgreen;
}

body {
	background-color: black;
}